SECRET_KEY=secret key
DEBUG=True
AWS_ACCESS_KEY_ID=aws access key
AWS_SECRET_ACCESS_KEY=aws secret access key
EMAIL_HOST=host
EMAIL_PORT=port
EMAIL_USE_TLS=True
EMAIL_HOST_USER=mail
EMAIL_HOST_PASSWORD=app password

POSTGRES_DB=db name
POSTGRES_USER=user
POSTGRES_PASSWORD=db password
DATABASE_URL=db url
REDIS_URL= redis