<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Note</title>
</head>
<body>
  <h1>Edit Note</h1>
  <form method="POST">
    {% csrf_token %}
    <label>Title</label>
    <input type="text" name="title" value="{{ note.title }}" required>
    <br><br>
    <label>Description</label>
    <textarea name="description" required>{{ note.description }}</textarea>
    <br><br>
    <button type="submit">Update Note</button>
  </form>
  <br>
  <a href="{% url 'notes' %}">Back to Notes</a>
</body>
</html>
